<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Garaze</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<h1>Garaze</h1>
</br>

<p2><a href="/garages/create">dodaj</a></p2>
</br>
</br>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Address</th>
        <th>Pojemnosc</th>
        <th>  </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="garage : ${garages}">
        <td th:text="${garage.id}"></td>
        <td th:text="${garage.address}"></td>
        <td th:text="${garage.capacity}"></td>
        <td><button th:id="btn + ${garage.id}" th:value="${garage.id}" onclick="deleteTeacher(this.id)">Usuń</button></td>
    </tr>
    </tbody>
</table>
</body>
</html>

<script type="text/javascript">

    function deleteTeacher(btnId) {
        let btn = document.getElementById(btnId);
        let url = "/teachers?idToDelete=" + btn.value;
        $.ajax({
            url: url,
            type: 'DELETE',
            success: function () {
                window.location.reload();
            },
            error:  function () {
                alert("wystąpił błąd podczas usuwania")
            }
        })
    }

</script>